<div class="app-sidebar">
    <div class="logo app-logo">
        <a href="#" class="simple-text">
            <div class="logo-img app-logo-img">
                <img src="/assets/img/angular2-logo-red.png" />
            </div>
        </a>
    </div>
    <div class="sidebar-wrapper">
        <ul class="nav app-nav">
            <li routerLinkActive="active" *ngFor="let menuItem of menuItems" class="{{menuItem.class}} nav-item app-nav-item">
                <a class="nav-link app-nav-link" [routerLink]="[menuItem.path]">
                    <p>{{menuItem.title}}</p>
                </a>
            </li>
        </ul>
    </div>
</div>