@mixin sidebar-background-color($background-color, $font-color) {
	.nav.app-nav {
		.nav-item.app-nav-item {
			.nav-link.app-nav-link {
				color: $font-color;
			}
			i {
				color: rgba($font-color, 0.8);
			}

			&.active,
			&:hover {
				[data-toggle="collapse"] {
					color: $font-color;
					i {
						color: rgba($font-color, 0.8);
					}
				}
			}
		}
	}
	.user {
		a {
			color: $font-color;
		}
	}
	.simple-text {
		color: $font-color;
	}
	.sidebar-background:after {
		background: $background-color;
		opacity: 0.8;
	}
}

@mixin sidebar-active-color($font-color) {
	.nav.app-nav {
		.nav-item.app-nav-item {
			&.active > a:not([data-toggle="collapse"]) {
				color: $font-color;
				opacity: 1;
				@include shadow-big-color($font-color);
				i {
					color: rgba($font-color, 0.8);
				}
			}
		}
	}
}

@mixin set-background-color-app-button($color, $bg-color, $bg-color-active) {
	li.active > a {
		background-color: $bg-color-active;
	}
	li {
		&:first-child {
            & > a {
                border-left: 1px solid $color;
            }
		}
		& > a {
			background-color: $bg-color;
			border: 1px solid $color;
			border-left: none;
		}
	}
}

@mixin set-background-color-button($color) {
	li.active > a {
		background-color: $color;
		@include shadow-big-color($color);
	}
}
