<nav class="navbar navbar-expand-lg navbar-transparent">
    <div class="container-fluid">
        <div class="collapse navbar-collapse justify-content-end" id="navigation">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="javascript:void(0)" id="navbarDropdownPersonMenu" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <i class="material-icons">person</i>
                    </a>
                    <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownPersonMenu">
                        <a class="dropdown-item text-cursor-pointer" (click)="logout()">Đăng xuất</a>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</nav>