<div class="login-form">
	<form [formGroup]="formGroup">
		<div class="form-title">Đăng nhập</div>
		<div class="form-group">
			<input type="text" class="form-control item" id="username" placeholder="Username" formControlName="username" />
			<ng-container *ngIf="getFormControl('username').invalid && (getFormControl('username').dirty || getFormControl('username').touched)">
				<div class="error-message" *ngIf="getFormControl('username').errors.required">
					{{ errorMessage.ERROR_REQUIRED }}
				</div>
			</ng-container>
		</div>
		<div class="form-group">
			<input type="password" class="form-control item" id="password" placeholder="Password" formControlName="password" />
			<ng-container *ngIf="getFormControl('password').invalid && (getFormControl('password').dirty || getFormControl('password').touched)">
				<div class="error-message" *ngIf="getFormControl('password').errors.required">
					{{ errorMessage.ERROR_REQUIRED }}
				</div>
				<div class="error-message" *ngIf="getFormControl('password').errors.minlength">{{ errorMessage.ERROR_MINLENGTH }} 8 kí tự</div>
			</ng-container>
		</div>
		<div class="form-group">
			<button type="submit" class="btn btn-block create-account" (click)="onSubmit()">Đăng nhập</button>
		</div>
		<a href="/register">Tạo tài khoản mới?</a>
	</form>
</div>
