@import "../../../assets/scss/core/variables/colors";

.register {
	background-color: #dee9ff;
	&-form {
		padding: 50px 0;
		& input {
			display: block;
			width: 100%;
			padding: 0.375rem 0.75rem;
			font-size: 1rem;
			line-height: 1.5;
			color: #495057;
			background-color: #fff;
			background-clip: padding-box;
			border: 1px solid #ced4da;
			border-radius: 0.25rem;
			transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
			background-image: none;
			padding: 25px 20px !important;
			margin-bottom: 15px !important;
			&.ng-touched.ng-invalid {
				border: 1px solid $red-500;
				margin-bottom: 5px !important;
			}
		}
		& > form {
			background-color: #fff;
			max-width: 600px;
			margin: auto;
			padding: 50px 70px;
			border-radius: 30px;
			box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.075);
			& > a {
				color: #5891ff;
			}
		}
		& .form-title {
			text-align: center;
			color: #5891ff;
			font-size: 40px;
			margin: auto;
			line-height: 100px;
		}
		& .item {
			border-radius: 20px;
			margin-bottom: 25px;
			padding: 10px 20px;
		}
		& .create-account {
			border-radius: 30px;
			padding: 10px 20px;
			font-size: 18px;
			font-weight: bold;
			background-color: #5791ff;
			border: none;
			color: white;
			margin-top: 20px;
		}
	}
}


@media (max-width: 576px) {
	.login-form {
		& > form {
			padding: 50px 20px;
		}
		& .form-icon {
			width: 70px;
			height: 70px;
			font-size: 30px;
			line-height: 70px;
		}
	}
}	
