<div class="register-form">
	<form [formGroup]="formGroup">
		<div class="form-title">
			Đăng ký
		</div>
		<div class="form-group">
			<input type="text" class="form-control item" id="username" placeholder="Username" formControlName="username">
			<ng-container *ngIf="getFormControl('username').invalid && (getFormControl('username').dirty || getFormControl('username').touched)">
				<div class="error-message" *ngIf="getFormControl('username').errors.required">
					{{ errorMessage.ERROR_REQUIRED }}
				</div>
			</ng-container>
		</div>
		<div class="form-group">
			<input type="text" class="form-control item" id="email" placeholder="Email" formControlName="email">
			<ng-container *ngIf="getFormControl('email').invalid && (getFormControl('email').dirty || getFormControl('email').touched)">
				<div class="error-message" *ngIf="getFormControl('email').errors.required">
					{{ errorMessage.ERROR_REQUIRED }}
				</div>
				<div class="error-message" *ngIf="getFormControl('email').hasError('invalidEmail')">
					{{ errorMessage.ERROR_INVALID_EMAIL }}
				</div>
			</ng-container>
		</div>
		<div class="form-group">
			<input type="password" class="form-control item" id="password" placeholder="Password" formControlName="password">
			<ng-container *ngIf="getFormControl('password').invalid && (getFormControl('password').dirty || getFormControl('password').touched)">
				<div class="error-message" *ngIf="getFormControl('password').errors.required">
					{{ errorMessage.ERROR_REQUIRED }}
				</div>
				<div class="error-message" *ngIf="getFormControl('password').errors.minlength">
					{{ errorMessage.ERROR_MINLENGTH + validatorMinLength + ' ký tự' }}
				</div>
			</ng-container>
		</div>
		<div class="form-group">
			<input type="password" class="form-control item" id="confirmPassword" placeholder="Confirm Password" formControlName="confirmPassword">
			<ng-container *ngIf="getFormControl('confirmPassword').invalid && (getFormControl('confirmPassword').dirty || getFormControl('confirmPassword').touched)">
				<div class="error-message" *ngIf="getFormControl('confirmPassword').errors.required">
					{{ errorMessage.ERROR_REQUIRED }}
				</div>
				<div class="error-message" *ngIf="getFormControl('confirmPassword').errors.minlength">
					{{ errorMessage.ERROR_MINLENGTH + validatorMinLength + ' ký tự' }} 
				</div>
			</ng-container>
		</div>
		<div class="form-group">
			<button type="submit" class="btn btn-block create-account" (click)="onSubmit()">Đăng ký</button>
		</div>
		<a href="/login">Bạn đã có tài khoản?</a>
	</form>
</div>