<div class="main-content">
	<div class="container-fluid">
		<div class="row">
			<div class="col-md-12">
				<div class="card">
					<div class="card-header card-header-danger">
						<h4 class="card-title">Thông tin</h4>
						<p class="card-category">Thông tin cá nhân</p>
					</div>
					<div class="card-body">
						<form [formGroup]="formGroup">
							<div class="row">
								<div class="col-md-6">
									<mat-form-field class="example-full-width">
										<input matInput placeholder="Username" formControlName="userName" />
									</mat-form-field>
								</div>
								<div class="col-md-6">
									<mat-form-field class="example-full-width">
										<input matInput placeholder="Email address" type="email" formControlName="email" />
									</mat-form-field>
								</div>
							</div>
							<div class="row">
								<div class="col-md-6">
									<mat-form-field class="example-full-width">
										<input matInput placeholder="Fist Name" type="text" formControlName="firstName" />
									</mat-form-field>
								</div>
								<div class="col-md-6">
									<mat-form-field class="example-full-width">
										<input matInput placeholder="Last Name" type="text" formControlName="lastName" />
									</mat-form-field>
								</div>
							</div>
							<div class="row">
								<div class="col-md-12">
									<mat-form-field class="example-full-width">
										<input matInput placeholder="Address" type="text"  formControlName="address"/>
									</mat-form-field>
								</div>
							</div>
							<div class="row">
								<div class="col-md-4">
									<mat-form-field class="example-full-width">
										<input matInput placeholder="City" type="text"  formControlName="city"/>
									</mat-form-field>
								</div>
								<div class="col-md-4">
									<mat-form-field class="example-full-width">
										<input matInput placeholder="Country" type="text"  formControlName="country"/>
									</mat-form-field>
								</div>
								<div class="col-md-4">
									<mat-form-field class="example-full-width">
										<input matInput placeholder="Postal Code" type="text" formControlName="postalCode" />
									</mat-form-field>
								</div>
							</div>
							<div class="row">
								<div class="col-md-12">
									<label>About Me</label>
									<mat-form-field class="example-full-width">
										<textarea matInput formControlName="description"></textarea>
									</mat-form-field>
								</div>
							</div>
							<div class="clearfix"></div>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
