.toast {
  position: relative;
  float: left;
  justify-content: space-around;
  padding: 20px 0px 20px 20px;
  width: 450px;
  background: #ffffff 0% 0% no-repeat padding-box;
  box-shadow: 0px 0px 10px #00000014;
  border: 1px solid #cccccc;
  border-radius: 8px;
  opacity: 1;

  .profile-image {
    width: 45px;
    height: 45px;
    border-radius: 45px;
  }

  .data-text {
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .toast-logo {
    width: 62px;
    height: 62px;
    background: #ad0000 0% 0% no-repeat padding-box;
    border-radius: 8px;
    opacity: 1;
    padding: 10px;
    float: left;
  }

  .toast-body {
    float: left;
    max-width: 250px;
    margin: 0 20px;
  }

  .toast-avatar {
    float: right;
    margin-right: 20px;
  }
}
