.overlay-container {
    position: fixed;
    height: 100%;
    top: 20px;
    right: 16px;
    .toast-container {
      .toast {
        box-shadow: none;
        padding: 8px 15px;
        width: 600px;
        border-radius: 4px;
  
        .toast-title {
          display: inline;
          color: #1e1e1f !important;
          font-weight: 600 !important;
          font-size: 14px;
        }
  
        .toast-message {
          display: inline;
          color: #1e1e1f !important;
          font-weight: normal !important;
          font-size: 14px;
        }
      }
    }
  }
  
  button {
    &.toast-close-button {
      span {
        position: absolute;
        top: 0px;
        right: 0px;
        border-radius: 50%;
        font-size: 30px;
        font-weight: 300;
        line-height: 1;
        opacity: 1;
        z-index: 10;
        color: #fc3f3f;
        outline: none;
      }
    }
  }
  
  #toast-container {
    background-color: transparent !important;
  }
  
  .toast-top-right {
    top: 76px;
    right: 40px;
  }
  
  #toast-container {
    .toast-success,
    .toast-error {
      .toast-title {
        color: #1e1e1f !important;
        font-weight: 600;
      }
      .toast-message {
        color: #1e1e1f !important;
      }
    }
  }
  
  .toast {
    background-color: #ebebeb;
  }
  
  .toast-success {
    background-image: none;
    background-color: #def4de;
  }
  
  .toast-warning {
    background-image: none;
    background-color: #ffedde;
  }
  
  .toast-info {
    background-image: none;
    background-color: #e4ebf7;
  }
  
  .toast-error {
    background-image: none;
    background-color: #ffeaea;
  }
  